html {
  box-sizing: border-box;
  background-color: #f33;
  font-family: 'Bevan', cursive;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cards {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #713837;
  margin: 0.3em;
  border-radius: 10px;
  border: 3px solid #595652
  list-style-type: inherit;
}

.cards a:hover {
  background-color: #f33;
  color: #fff;
}



}







- *Typefaces:* `Bevan` (from Google Fonts)
- *Line height:* `1.5`
- *Colours:* `#fff` white, `#79756f` box grey, `#595652`outside border, `#713837` deep red, `#f33`hover red
- *Paddings:* `.6em`, `0.5em 0.75em`
- *Margin:* `0.3em`
